<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录</title>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
	<h1>MyCommunity</h1>
	<!-- main -->
  	<div id="app">
	    <!-- main -->
	    <div id="main">
	        <div class="container">
	            <div>
	                <li class="show" th:each="item : ${list}">
	                    <div class="img">
	                        <img th:src="${item.image}"/>
	                    </div>
	                    <div class="title">
	                        <span th:text="${item.title}"></span>
	                    </div>
	                    <div class="price">
	                        <span>￥ <b th:text="${item.price}"></b></span>
	                    </div>
	                    <div class="count">
	                        <span>剩余库存： <b class="stock" th:text="${item.stockCount}"></b></span>
	                    </div>
	                    <div>
	                        <span style="float:left;font-size: 13px;">结束时间：[[${#dates.format(item.endTime, 'yyyy-MM-dd HH:mm:ss')}]]</span>
	                    </div>
	                    <div class="buy">
	                        <a th:href="'/seckill/' + ${item.seckillId} + '/detail'" target="_blank">
	                            <button style="width:100%" class="btn btn-success">立即抢购</button>
	                        </a>
	                    </div>
	                </li>
	                
	            </div>
	        </div>
	
	    </div>
    </div>
</body>
</html>